.getToKnow {
  display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: rgb(235, 224, 245);
  @media (min-width:768px){
    height: 500px;
  
  }
  @media (min-width: 1024px){
    height: 600px;
  }

  &__title {
    font-size: 25px;
    color: gray;
    @media (min-width:768px){
      font-size: 20px;
   
  
    }
   
  }
  &__article {
    padding: 15px;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 40px 200px 40px;
    }
  }

  &__p {
    
    grid-column: 2/3;
    font-family: sans-serif;
    color: gray;
    line-height: 150%;
    @media (min-width:768px){
      padding: 20px;
    }
  }
}

$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);

$gutter: 30px;
$border-width: 4px;
$dot-diameter: 8px;


.title {
  margin: 20px;
  color: gray;
  text-align: center;
}

.timeline {
  width: 100%;
  position: relative;
  //box-shadow: $container-shadow;
  background: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  &__titles {
    color: #565656;
    &--descr {
      color: #565656;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: calc(33% + 15px); //$gutter/2
    bottom: 0px;
    width: $border-width;
    background: #ddd;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.entry {
  clear: both;
  text-align: left;
  position: relative;

  .title {
    margin-bottom: 0.5em;
    float: left;
    width: 33%;
    padding-right: $gutter;
    text-align: right;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: $dot-diameter;
      height: $dot-diameter;
      border: $border-width solid salmon;
      background-color: #fff;
      border-radius: 100%;
      top: 15%;
      right: -$dot-diameter;
      z-index: 99;
    }
    h3 {
      margin: 0;
      font-size: 120%;
    }
    p {
      margin: 0;
      font-size: 100%;
    }
  }
  .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: $gutter;
    p {
      line-height: 1.4em;
      &:first-child {
        margin-top: 0;
        font-weight: 400;
      }
    }
    ul {
      color: #aaa;
      padding-left: 0;
      list-style-type: none;
      li:before {
        content: "–";
        margin-right: 0.5em;
      }
    }
  }
}
