@import "../core/Variables";


.getToKnow {
  object-fit: contain;
  width: 100%;
  height: 100%;
  background-color:$getToknowBackgroundColor ;

  &__title {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 20px;
    color: $mainTextColor;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
  &__article {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 40% 200% 40%;
    }
  }

  &__p {
    font-size: 15px;
    align-items: center;
      text-align: center;
      grid-column: 2/3;
      font-family: sans-serif;
      color: $mainTextColor;
      line-height: 150%;
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 39px;
  }
}




.title {
  margin: 20px;
  color: $mainTextColor;
  text-align: center;
}

.timeline {
  width: 100%;
  position: relative;
  background: $mainWhiteColor;
  margin-top: 50px;
  margin-bottom: 50px;
  &__titles {
    color: $timelineTitles;
    &--descr {
      color: $timelineTitles;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: calc(33% + 15px); 
    bottom: 0px;
    width: $border-width;
    background: $timelineLine;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.entry {
  clear: both;
  text-align: left;
  position: relative;

  .title {
    margin-bottom: 0.5em;
    float: left;
    width: 33%;
    padding-right: $gutter;
    text-align: right;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: $dot-diameter;
      height: $dot-diameter;
      border: $border-width solid $circleTimeline;
      background-color: $mainWhiteColor;
      border-radius: 100%;
      top: 15%;
      right: -$dot-diameter;
      z-index: 99;
    }
    h3 {
      margin: 0;
      font-size: 120%;
    }
    p {
      margin: 0;
      font-size: 100%;
    }
  }
  .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: $gutter;
    p {
      line-height: 1.4em;
      &:first-child {
        margin-top: 0;
        font-weight: 400;
      }
    }
    ul {
      color: $timelineTasks;
      padding-left: 0;
      list-style-type: none;
      li:before {
        content: "–";
        margin-right: 0.5em;
      }
    }
  }
}
