.main {
  background-color: #fff;
  height: 90vh;
}

.imgContainer {
  padding: 60px;
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  &__img {
    border-radius: 200px;
    background-position: center;
    object-fit: cover;
    margin-right: 20px;
    height: 200px;
    width: 200px;
  }
  &__titles {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    gap: 20px;
    color: rgb(160, 159, 159);
  }
}

.container-buttom {
  @media (min-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.link_download {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  margin: 15px;
  font-family: sans-serif;
  font-weight: bold;
}

.skills {
  padding: 0px 15px 30px;
  text-align: center;
   &__list {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    &--item {
      display: inline-block;
      margin: 7px;
      padding: 5px 10px;
      color: gray;
      background: darken(#f2f2f5, 5%);
      list-style: none;
      cursor: default;
      font-size: 1.2em;
    }
  }
}
