@import "../core/Variables.scss";

.main {
  display: flex;
  flex-direction: column;
  background-color: $mainWhiteColor;
  height:100vh;
  width: 100%;

}

.imgContainer {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  @media (min-width: 768px) {
    margin-top: 2%;
  }

  &__img {
    border-radius: 200px;
    background-position: center;
    object-fit: cover;
    height: 200px;
    width: 200px;
  }
  &__titles {
    text-align: center;
    font-size: 25px;
    color: $mainTitlesColor;
  }
}


.div_download{
  background-color: $buttonDownloadCV;
  margin: auto;
  height: 45px;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: rgb(206, 199, 212);
  
  
  }
  /*
  background-color: $buttonDownloadCV;
  text-transform: uppercase;
  color: white;
  border: 0;
  height: 45px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: rgb(206, 199, 212);*/
}




.link_download {
  text-decoration: none;
  color: $mainWhiteColor;
  display: flex;
  justify-content: center;
  margin: 15px;
  font-family: sans-serif;
  font-weight: bold;
}

.skills {
  padding: 0px 15px 30px;
  text-align: center;
   &__list {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    &--item {
      display: inline-block;
      margin: 7px;
      padding: 5px 10px;
      color:$mainTextColor;
      background: darken(#f2f2f5, 5%);
      list-style: none;
      cursor: default;
      font-size: 1.2em;
    }
  }
}
