$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);

// Measures
$gutter: 30px;
$border-width: 4px;
$dot-diameter: 8px;

//Colors
$getToknowBackgroundColor: rgb(235, 224, 245);
$mainTextColor: gray; 
$mainTitlesColor: rgb(160, 159, 159);
$mainWhiteColor: #fff;
$buttonDownloadCV: rgb(203, 181, 223);

//timeline colors
$circleTimeline: salmon;
$timelineTitles: #565656;
$timelineLine: #ddd;
$timelineTasks: #aaa


